In [ ]:
pip install pandas

In [ ]:
pip install requests

In [ ]:
import pandas as pd
import requests
import json

### This section uses the Nomis API from the ONS to extract data on the total count of people in Technology roles by sex and region in the UK

#### England 2021

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957699&date=latest&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2021_Eng = pd.DataFrame(data['obs'])
df_2021_Eng

In [ ]:
data['obs']

In [ ]:
type(data['obs'][0])

In [ ]:
#get specific data from within the list of dictionaries and store to variable Sex_Eng_Count_21
from operator import itemgetter
Sex_Eng_Count_21 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Eng_Count_21)

In [ ]:
#create df from exatrcted values
df_sex_21_Eng = pd.DataFrame(Sex_Eng_Count_21)
df_sex_21_Eng

In [ ]:
#export this data to a csv file 
df_sex_21_Eng.to_csv('Sex_England_21.csv')

In [ ]:
#extract values for count of M and F in England for 2021 and assign to variables
Males_England_21 = df_sex_21_Eng.at[3, 'value']
Females_England_21 = df_sex_21_Eng.at[5, 'value']

#### England 2020

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957699&date=latestMINUS4&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2020_Eng = pd.DataFrame(data['obs'])

In [ ]:
#get specific data from within the list of dictionaries and store to variable Sex_Eng_Count_20
Sex_Eng_Count_20 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Eng_Count_20)

In [ ]:
#create df from exatrcted values
df_sex_20_Eng = pd.DataFrame(Sex_Eng_Count_20)
df_sex_20_Eng

In [ ]:
#export this data to a csv file 
df_sex_20_Eng.to_csv('Sex_England_20.csv')

In [ ]:
#extract values for count of M and F in England for 2021 and assign to variables
Males_England_20 = df_sex_20_Eng.at[3, 'value']
Females_England_20 = df_sex_20_Eng.at[5, 'value']

#### England 2019

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957699&date=latestMINUS8&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2019_Eng = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Eng_Count_19
Sex_Eng_Count_19 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Eng_Count_19)

In [ ]:
#create df from exatrcted values
df_sex_19_Eng = pd.DataFrame(Sex_Eng_Count_19)
df_sex_19_Eng

In [ ]:
#export this data to a csv file 
df_sex_19_Eng.to_csv('Sex_England_19.csv')

In [ ]:
#extract values for count of M and F in England for 2019 and assign to variables
Males_England_19 = df_sex_19_Eng.at[3, 'value']
Females_England_19 = df_sex_19_Eng.at[5, 'value']
#I ran this check due to the duplicate value displaying for 2019 and 2018
Females_England_19

#### England 2018

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957699&date=latestMINUS12&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2018_Eng = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Eng_Count_18
Sex_Eng_Count_18 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Eng_Count_18)

In [ ]:
#create df from exatrcted values
df_sex_18_Eng = pd.DataFrame(Sex_Eng_Count_18)
df_sex_18_Eng

In [ ]:
#export this data to a csv file 
df_sex_18_Eng.to_csv('Sex_England_18.csv')

In [ ]:
#extract values for count of M and F in England for 2018 and assign to variables
Males_England_18 = df_sex_18_Eng.at[3, 'value']
Females_England_18 = df_sex_18_Eng.at[5, 'value']
#I ran this check due to the duplicate value displaying for 2019 and 2018
Females_England_18

#### England 2017

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957699&date=latestMINUS16&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2017_Eng = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Eng_Count_20
Sex_Eng_Count_17 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Eng_Count_17)

In [ ]:
#create df from exatrcted values
df_sex_17_Eng = pd.DataFrame(Sex_Eng_Count_17)
df_sex_17_Eng

In [ ]:
#export this data to a csv file 
df_sex_17_Eng.to_csv('Sex_England_17.csv')

In [ ]:
#extract values for count of M and F in England for 2017 and assign to variables
Males_England_17 = df_sex_17_Eng.at[3, 'value']
Females_England_17 = df_sex_17_Eng.at[5, 'value']
Males_England_17

#### England 2016

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957699&date=latestMINUS20&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2016_Eng = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Eng_Count_16
Sex_Eng_Count_16 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Eng_Count_16)

In [ ]:
#create df from exatrcted values
df_sex_16_Eng = pd.DataFrame(Sex_Eng_Count_16)
df_sex_16_Eng

In [ ]:
#export this data to a csv file 
df_sex_16_Eng.to_csv('Sex_England_16.csv')

In [ ]:
#extract values for count of M and F in England for 2016 and assign to variables
Males_England_16 = df_sex_16_Eng.at[3, 'value']
Females_England_16 = df_sex_16_Eng.at[5, 'value']

#### Wales 2021

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957700&date=latest&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2021_Wal = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Wal_Count_21
Sex_Wal_Count_21 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Wal_Count_21)

In [ ]:
#create df from exatrcted values
df_sex_21_Wal = pd.DataFrame(Sex_Wal_Count_21)
df_sex_21_Wal

In [ ]:
#export this data to a csv file 
df_sex_21_Wal.to_csv('Sex_Wales_21.csv')

In [ ]:
#extract values for count of M and F in Wales for 2021 and assign to variables
Males_Wales_21 = df_sex_21_Wal.at[3, 'value']
Females_Wales_21 = df_sex_21_Wal.at[5, 'value']

#### Wales 2020

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957700&date=latestMINUS4&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2020_Wal = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Wal_Count_20
Sex_Wal_Count_20 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Wal_Count_20)

In [ ]:
#create df from exatrcted values
df_sex_20_Wal = pd.DataFrame(Sex_Wal_Count_20)
df_sex_20_Wal

In [ ]:
#export this data to a csv file 
df_sex_20_Wal.to_csv('Sex_Wales_20.csv')

In [ ]:
#extract values for count of M and F in Wales for 2020 and assign to variables
Males_Wales_20 = df_sex_20_Wal.at[3, 'value']
Females_Wales_20 = df_sex_20_Wal.at[5, 'value']

#### Wales 2019

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957700&date=latestMINUS8&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2019_Wal = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Wal_Count_19
Sex_Wal_Count_19 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Wal_Count_19)

In [ ]:
#create df from exatrcted values
df_sex_19_Wal = pd.DataFrame(Sex_Wal_Count_19)
df_sex_19_Wal

In [ ]:
#export this data to a csv file 
df_sex_19_Wal.to_csv('Sex_Wales_19.csv')

In [ ]:
#extract values for count of M and F in Wales for 2019 and assign to variables
Males_Wales_19 = df_sex_19_Wal.at[3, 'value']
Females_Wales_19 = df_sex_19_Wal.at[5, 'value']

#### Wales 2018

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957700&date=latestMINUS12&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2018_Wal = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Wal_Count_18
Sex_Wal_Count_18 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Wal_Count_18)

In [ ]:
#create df from exatrcted values
df_sex_18_Wal = pd.DataFrame(Sex_Wal_Count_18)
df_sex_18_Wal

In [ ]:
#export this data to a csv file 
df_sex_18_Wal.to_csv('Sex_Wales_18.csv')

In [ ]:
#extract values for count of M and F in Wales for 2018 and assign to variables
Males_Wales_18 = df_sex_18_Wal.at[3, 'value']
Females_Wales_18 = df_sex_18_Wal.at[5, 'value']

#### Wales 2017

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957700&date=latestMINUS16&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2017_Wal = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Wal_Count_17
Sex_Wal_Count_17 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Wal_Count_17)

In [ ]:
#create df from exatrcted values
df_sex_17_Wal = pd.DataFrame(Sex_Wal_Count_17)
df_sex_17_Wal

In [ ]:
#export this data to a csv file 
df_sex_17_Wal.to_csv('Sex_Wales_17.csv')

In [ ]:
#extract values for count of M and F in Wales for 2017 and assign to variables
Males_Wales_17 = df_sex_17_Wal.at[3, 'value']
Females_Wales_17 = df_sex_17_Wal.at[5, 'value']

#### Wales 2016

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957700&date=latestMINUS20&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2016_Wal = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Wal_Count_16
Sex_Wal_Count_16 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Wal_Count_16)

In [ ]:
#create df from exatrcted values
df_sex_16_Wal = pd.DataFrame(Sex_Wal_Count_16)
df_sex_16_Wal

In [ ]:
#export this data to a csv file 
df_sex_16_Wal.to_csv('Sex_Wales_16.csv')

In [ ]:
#extract values for count of M and F in Wales for 2016 and assign to variables
Males_Wales_16 = df_sex_16_Wal.at[3, 'value']
Females_Wales_16 = df_sex_16_Wal.at[5, 'value']

#### Northern Ireland 2021

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957702&date=latest&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2021_NI = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_NI_Count_21
Sex_NI_Count_21 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_NI_Count_21)

In [ ]:
#create df from exatrcted values
df_sex_21_NI = pd.DataFrame(Sex_NI_Count_21)
df_sex_21_NI

In [ ]:
#export this data to a csv file 
df_sex_21_NI.to_csv('Sex_NI_21.csv')

In [ ]:
#extract values for count of M and F in Northern Ireland for 2021 and assign to variables
Males_NI_21 = df_sex_21_NI.at[3, 'value']
Females_NI_21 = df_sex_21_NI.at[5, 'value']

#### Northern Ireland 2020

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957702&date=latestMINUS4&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2020_NI = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_NI_Count_20
Sex_NI_Count_20 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_NI_Count_20)

In [ ]:
#create df from exatrcted values
df_sex_20_NI = pd.DataFrame(Sex_NI_Count_20)
df_sex_20_NI

In [ ]:
#export this data to a csv file 
df_sex_20_NI.to_csv('Sex_NI_20.csv')

In [ ]:
#extract values for count of M and F in Northern Ireland for 2020 and assign to variables
Males_NI_20 = df_sex_20_NI.at[3, 'value']
Females_NI_20 = df_sex_20_NI.at[5, 'value']

#### Northern Ireland 2019

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957702&date=latestMINUS8&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2019_NI = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_NI_Count_19
Sex_NI_Count_19 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_NI_Count_19)

In [ ]:
#create df from exatrcted values
df_sex_19_NI = pd.DataFrame(Sex_NI_Count_19)
df_sex_19_NI

In [ ]:
#export this data to a csv file 
df_sex_19_NI.to_csv('Sex_NI_19.csv')

In [ ]:
#extract values for count of M and F in Northern Ireland for 2019 and assign to variables
Males_NI_19 = df_sex_19_NI.at[3, 'value']
Females_NI_19 = df_sex_19_NI.at[5, 'value']

#### Northern Ireland 2018

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957702&date=latestMINUS12&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2018_NI = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_NI_Count_18
Sex_NI_Count_18 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_NI_Count_18)

In [ ]:
#create df from exatrcted values
df_sex_18_NI = pd.DataFrame(Sex_NI_Count_18)
df_sex_18_NI

In [ ]:
#export this data to a csv file 
df_sex_18_NI.to_csv('Sex_NI_18.csv')

In [ ]:
#extract values for count of M and F in Northern Ireland for 2018 and assign to variables
Males_NI_18 = df_sex_18_NI.at[3, 'value']
Females_NI_18 = df_sex_18_NI.at[5, 'value']

#### Northern Ireland 2017

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957702&date=latestMINUS16&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2017_NI = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_NI_Count_17
Sex_NI_Count_17 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_NI_Count_17)

In [ ]:
#create df from exatrcted values
df_sex_17_NI = pd.DataFrame(Sex_NI_Count_17)
df_sex_17_NI

In [ ]:
#export this data to a csv file 
df_sex_17_NI.to_csv('Sex_NI_17.csv')

In [ ]:
#extract values for count of M and F in Northern Ireland for 2017 and assign to variables
Males_NI_17 = df_sex_17_NI.at[3, 'value']
Females_NI_17 = df_sex_17_NI.at[5, 'value']

#### Northern Ireland 2016

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957702&date=latestMINUS20&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2016_NI = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_NI_Count_16
Sex_NI_Count_16 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_NI_Count_16)

In [ ]:
#create df from exatrcted values
df_sex_16_NI = pd.DataFrame(Sex_NI_Count_16)
df_sex_16_NI

In [ ]:
#export this data to a csv file 
df_sex_16_NI.to_csv('Sex_NI_16.csv')

In [ ]:
#extract values for count of M and F in Northern Ireland for 2016 and assign to variables
Males_NI_16 = df_sex_16_NI.at[3, 'value']
Females_NI_16 = df_sex_16_NI.at[5, 'value']

#### Scotland 2021

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957701&date=latest&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2021_Scot = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Scot_Count_21
Sex_Scot_Count_21 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Scot_Count_21)

In [ ]:
#create df from exatrcted values
df_sex_21_Scot = pd.DataFrame(Sex_Scot_Count_21)
df_sex_21_Scot

In [ ]:
#export this data to a csv file 
df_sex_21_Scot.to_csv('Sex_Scot_21.csv')

In [ ]:
#extract values for count of M and F in Scotland for 2021 and assign to variables
Males_Scot_21 = df_sex_21_Scot.at[3, 'value']
Females_Scot_21 = df_sex_21_Scot.at[5, 'value']

#### Scotland 2020

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957701&date=latestMINUS4&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2020_Scot = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Scot_Count_20
Sex_Scot_Count_20 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Scot_Count_20)

In [ ]:
#create df from exatrcted values
df_sex_20_Scot = pd.DataFrame(Sex_Scot_Count_20)
df_sex_20_Scot

In [ ]:
#export this data to a csv file 
df_sex_20_Scot.to_csv('Sex_Scot_20.csv')

In [ ]:
#extract values for count of M and F in Scotland for 2020 and assign to variables
Males_Scot_20 = df_sex_20_Scot.at[3, 'value']
Females_Scot_20 = df_sex_20_Scot.at[5, 'value']

#### Scotland 2019

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957701&date=latestMINUS8&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2019_Scot = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Scot_Count_19
Sex_Scot_Count_19 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Scot_Count_19)

In [ ]:
#create df from exatrcted values
df_sex_19_Scot = pd.DataFrame(Sex_Scot_Count_19)
df_sex_19_Scot

In [ ]:
#export this data to a csv file 
df_sex_19_Scot.to_csv('Sex_Scot_19.csv')

In [ ]:
#extract values for count of M and F in Scotland for 2019 and assign to variables
Males_Scot_19 = df_sex_19_Scot.at[3, 'value']
Females_Scot_19 = df_sex_19_Scot.at[5, 'value']

#### Scotland 2018

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957701&date=latestMINUS12&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2018_Scot = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Scot_Count_18
Sex_Scot_Count_18 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Scot_Count_18)

In [ ]:
#create df from exatrcted values
df_sex_18_Scot = pd.DataFrame(Sex_Scot_Count_18)
df_sex_18_Scot

In [ ]:
#export this data to a csv file 
df_sex_18_Scot.to_csv('Sex_Scot_18.csv')

In [ ]:
#extract values for count of M and F in Scotland for 2018 and assign to variables
Males_Scot_18 = df_sex_18_Scot.at[3, 'value']
Females_Scot_18 = df_sex_18_Scot.at[5, 'value']

#### Scotland 2017

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957701&date=latestMINUS16&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2017_Scot = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Scot_Count_17
Sex_Scot_Count_17 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Scot_Count_17)

In [ ]:
#create df from exatrcted values
df_sex_17_Scot = pd.DataFrame(Sex_Scot_Count_17)
df_sex_17_Scot

In [ ]:
#export this data to a csv file 
df_sex_17_Scot.to_csv('Sex_Scot_17.csv')

In [ ]:
#extract values for count of M and F in Scotland for 2017 and assign to variables
Males_Scot_17 = df_sex_17_Scot.at[3, 'value']
Females_Scot_17 = df_sex_17_Scot.at[5, 'value']

#### Scotland 2016

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957701&date=latestMINUS20&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2016_Scot = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_Scot_Count_16
Sex_Scot_Count_16 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_Scot_Count_16)

In [ ]:
#create df from exatrcted values
df_sex_16_Scot = pd.DataFrame(Sex_Scot_Count_16)
df_sex_16_Scot

In [ ]:
#export this data to a csv file 
df_sex_16_Scot.to_csv('Sex_Scot_16.csv')

In [ ]:
#extract values for count of M and F in Scotland for 2016 and assign to variables
Males_Scot_16 = df_sex_16_Scot.at[3, 'value']
Females_Scot_16 = df_sex_16_Scot.at[5, 'value']

#### UK 2021

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957697&date=latest&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2021_UK = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_UK_Count_21
Sex_UK_Count_21 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_UK_Count_21)

In [ ]:
#create df from exatrcted values
df_sex_21_UK = pd.DataFrame(Sex_UK_Count_21)
df_sex_21_UK

In [ ]:
#export this data to a csv file 
df_sex_21_UK.to_csv('Sex_UK_21.csv')

In [ ]:
#extract values for count of M and F in UK for 2021 and assign to variables
Males_UK_21 = df_sex_21_UK.at[3, 'value']
Females_UK_21 = df_sex_21_UK.at[5, 'value']

#### UK 2020

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957697&date=latestMINUS4&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2020_UK = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_UK_Count_20
Sex_UK_Count_20 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_UK_Count_20)

In [ ]:
#create df from exatrcted values
df_sex_20_UK = pd.DataFrame(Sex_UK_Count_20)
df_sex_20_UK

In [ ]:
#export this data to a csv file 
df_sex_20_UK.to_csv('Sex_UK_20.csv')

In [ ]:
#extract values for count of M and F in UK for 2020 and assign to variables
Males_UK_20 = df_sex_20_UK.at[3, 'value']
Females_UK_20 = df_sex_20_UK.at[5, 'value']

#### UK 2019

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957697&date=latestMINUS8&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2019_UK = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_UK_Count_19
Sex_UK_Count_19 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_UK_Count_19)

In [ ]:
#create df from exatrcted values
df_sex_19_UK = pd.DataFrame(Sex_UK_Count_19)
df_sex_19_UK

In [ ]:
#export this data to a csv file 
df_sex_19_UK.to_csv('Sex_UK_19.csv')

In [ ]:
#extract values for count of M and F in UK for 2019 and assign to variables
Males_UK_19 = df_sex_19_UK.at[3, 'value']
Females_UK_19 = df_sex_19_UK.at[5, 'value']

#### UK 2018

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957697&date=latestMINUS12&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2018_UK = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_UK_Count_18
Sex_UK_Count_18 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_UK_Count_18)

In [ ]:
#create df from exatrcted values
df_sex_18_UK = pd.DataFrame(Sex_UK_Count_18)
df_sex_18_UK

In [ ]:
#export this data to a csv file 
df_sex_18_UK.to_csv('Sex_UK_18.csv')

In [ ]:
#extract values for count of M and F in UK for 2018 and assign to variables
Males_UK_18 = df_sex_18_UK.at[3, 'value']
Females_UK_18 = df_sex_18_UK.at[5, 'value']

#### UK 2017

In [ ]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957697&date=latestMINUS16&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2017_UK = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_UK_Count_17
Sex_UK_Count_17 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_UK_Count_17)

In [ ]:
#create df from exatrcted values
df_sex_17_UK = pd.DataFrame(Sex_UK_Count_17)
df_sex_17_UK

In [ ]:
#export this data to a csv file 
df_sex_17_UK.to_csv('Sex_UK_17.csv')

In [ ]:
#extract values for count of M and F in UK for 2017 and assign to variables
Males_UK_17 = df_sex_17_UK.at[3, 'value']
Females_UK_17 = df_sex_17_UK.at[5, 'value']

#### UK 2016

In [245]:
#make a call to the API and parse to json file
link = "https://www.nomisweb.co.uk/api/v01/dataset/NM_210_1.data.json?geography=2092957697&date=latestMINUS20&jtype=0,1&ftpt=0,1&etype=0,1&c_sex=0...2&c_occpuk11h_0=0,20002&measure=1&measures=20100,20701"
r = requests.get(link)
data = r.json()

#create df from json file
df_2016_UK = pd.DataFrame(data['obs'])

#get specific data from within the list of dictionaries and store to variable Sex_UK_Count_16
Sex_UK_Count_16 = list(map(itemgetter('obs_value'), data['obs']))
print(Sex_UK_Count_16)

[{'value': 31239300, 'description': 'Undefined Value for United Kingdom (geography), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 938100, 'description': 'Undefined Value for United Kingdom (geography), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 16642000, 'description': 'Undefined Value for United Kingdom (geography), Males (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 780900, 'description': 'Undefined Value for United Kingdom (geography), Males (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 14597300, 'description': 'Undefined Value for United Kingdom (geography), Females (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 157100, 'description': 'Undefined Value for United Kingdom (geography), Females (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 26433400, 'description': 'Undefined Value for United Kingdom (geography), Employee (Employee/Self-employed), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 813800, 'description': 'Undefined Value for United Kingdom (geography), Employee (Employee/Self-employed), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 13425200, 'description': 'Undefined Value for United Kingdom (geography), Employee (Employee/Self-employed), Males (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 672100, 'description': 'Undefined Value for United Kingdom (geography), Employee (Employee/Self-employed), Males (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 13008300, 'description': 'Undefined Value for United Kingdom (geography), Employee (Employee/Self-employed), Females (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 141600, 'description': 'Undefined Value for United Kingdom (geography), Employee (Employee/Self-employed), Females (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 22801000, 'description': 'Undefined Value for United Kingdom (geography), Full-time (Full/Part-time), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 879600, 'description': 'Undefined Value for United Kingdom (geography), Full-time (Full/Part-time), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 14422300, 'description': 'Undefined Value for United Kingdom (geography), Full-time (Full/Part-time), Males (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 751700, 'description': 'Undefined Value for United Kingdom (geography), Full-time (Full/Part-time), Males (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 8378700, 'description': 'Undefined Value for United Kingdom (geography), Full-time (Full/Part-time), Females (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 127900, 'description': 'Undefined Value for United Kingdom (geography), Full-time (Full/Part-time), Females (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 19481500, 'description': 'Undefined Value for United Kingdom (geography), Full-time (Full/Part-time), Employee (Employee/Self-employed), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 776600, 'description': 'Undefined Value for United Kingdom (geography), Full-time (Full/Part-time), Employee (Employee/Self-employed), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 11821900, 'description': 'Undefined Value for United Kingdom (geography), Full-time (Full/Part-time), Employee (Employee/Self-employed), Males (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 658900, 'description': 'Undefined Value for United Kingdom (geography), Full-time (Full/Part-time), Employee (Employee/Self-employed), Males (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 7659600, 'description': 'Undefined Value for United Kingdom (geography), Full-time (Full/Part-time), Employee (Employee/Self-employed), Females (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 117700, 'description': 'Undefined Value for United Kingdom (geography), Full-time (Full/Part-time), Employee (Employee/Self-employed), Females (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 24788700, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 783900, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 12653000, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Males (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 648200, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Males (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 12135700, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Females (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 135700, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Females (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 24788700, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Employee (Employee/Self-employed), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 783900, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Employee (Employee/Self-employed), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 12653000, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Employee (Employee/Self-employed), Males (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 648200, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Employee (Employee/Self-employed), Males (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 12135700, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Employee (Employee/Self-employed), Females (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 135700, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Employee (Employee/Self-employed), Females (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 18649700, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Full-time (Full/Part-time), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 750000, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Full-time (Full/Part-time), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 11365500, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Full-time (Full/Part-time), Males (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 637100, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Full-time (Full/Part-time), Males (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 7284300, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Full-time (Full/Part-time), Females (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 112900, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Full-time (Full/Part-time), Females (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 18649700, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Full-time (Full/Part-time), Employee (Employee/Self-employed), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 750000, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Full-time (Full/Part-time), Employee (Employee/Self-employed), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 11365500, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Full-time (Full/Part-time), Employee (Employee/Self-employed), Males (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 637100, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Full-time (Full/Part-time), Employee (Employee/Self-employed), Males (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 7284300, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Full-time (Full/Part-time), Employee (Employee/Self-employed), Females (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 112900, 'description': 'Undefined Value for United Kingdom (geography), Permanent (Permanent/non-permanent), Full-time (Full/Part-time), Employee (Employee/Self-employed), Females (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 167600, 'description': 'Undefined Confidence for United Kingdom (geography), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 29000, 'description': 'Undefined Confidence for United Kingdom (geography), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 122300, 'description': 'Undefined Confidence for United Kingdom (geography), Males (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 26500, 'description': 'Undefined Confidence for United Kingdom (geography), Males (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 114600, 'description': 'Undefined Confidence for United Kingdom (geography), Females (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 11900, 'description': 'Undefined Confidence for United Kingdom (geography), Females (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 154200, 'description': 'Undefined Confidence for United Kingdom (geography), Employee (Employee/Self-employed), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 27100, 'description': 'Undefined Confidence for United Kingdom (geography), Employee (Employee/Self-employed), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 109900, 'description': 'Undefined Confidence for United Kingdom (geography), Employee (Employee/Self-employed), Males (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 24600, 'description': 'Undefined Confidence for United Kingdom (geography), Employee (Employee/Self-employed), Males (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 108200, 'description': 'Undefined Confidence for United Kingdom (geography), Employee (Employee/Self-employed), Females (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 11300, 'description': 'Undefined Confidence for United Kingdom (geography), Employee (Employee/Self-employed), Females (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 143200, 'description': 'Undefined Confidence for United Kingdom (geography), Full-time (Full/Part-time), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 28100, 'description': 'Undefined Confidence for United Kingdom (geography), Full-time (Full/Part-time), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 113900, 'description': 'Undefined Confidence for United Kingdom (geography), Full-time (Full/Part-time), Males (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 26000, 'description': 'Undefined Confidence for United Kingdom (geography), Full-time (Full/Part-time), Males (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 86800, 'description': 'Undefined Confidence for United Kingdom (geography), Full-time (Full/Part-time), Females (Sex), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 10700, 'description': 'Undefined Confidence for United Kingdom (geography), Full-time (Full/Part-time), Females (Sex), 213 Information Technology and Telecommunications Professionals (Occupation), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 132400, 'description': 'Undefined Confidence for United Kingdom (geography), Full-time (Full/Part-time), Employee (Employee/Self-employed), Count (measure) for Jul 2015-Jun 2016 from annual population survey - regional - occupation by sex by employment type'}, {'value': 26400, 'description': 'Undefined Confidence for United Kingdom (geography), Full-time (Full/Part-time), Employee (Employee/Self-employed), 213 Information Technology and Telecommunications Professionals (Occupation), Count (meas

In [246]:
#create df from exatrcted values
df_sex_16_UK = pd.DataFrame(Sex_UK_Count_16)
df_sex_16_UK

       value                                        description
0   31239300  Undefined Value for United Kingdom (geography)...
1     938100  Undefined Value for United Kingdom (geography)...
2   16642000  Undefined Value for United Kingdom (geography)...
3     780900  Undefined Value for United Kingdom (geography)...
4   14597300  Undefined Value for United Kingdom (geography)...
..       ...                                                ...
91     26000  Undefined Confidence for United Kingdom (geogr...
92    101100  Undefined Confidence for United Kingdom (geogr...
93     23900  Undefined Confidence for United Kingdom (geogr...
94     80900  Undefined Confidence for United Kingdom (geogr...
95     10100  Undefined Confidence for United Kingdom (geogr...

[96 rows x 2 columns]

In [247]:
#export this data to a csv file 
df_sex_16_UK.to_csv('Sex_UK_16.csv')

In [248]:
#extract values for count of M and F in UK for 2016 and assign to variables
Males_UK_16 = df_sex_16_UK.at[3, 'value']
Females_UK_16 = df_sex_16_UK.at[5, 'value']

### Create Data Frame to store data on total count of Tech occupations by sex, by region

In [249]:
#assign column names to a list
column_names = ["Year", "Males", "Females", "Location"]

#Create empty DataFrame with `column_names`
Results_df = pd.DataFrame(columns = column_names)

print(Results_df)

Empty DataFrame
Columns: [Year, Males, Females, Location]
Index: []

In [250]:
#append rows to the empty df
#England
Results_df = Results_df.append({'Year': '2021', 'Males': Males_England_21, 'Females': Females_England_21,"Location": 'England'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2020', 'Males': Males_England_20, 'Females': Females_England_20, "Location": 'England'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2019', 'Males': Males_England_19, 'Females': Females_England_19, "Location": 'England'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2018', 'Males': Males_England_18, 'Females': Females_England_18, "Location": 'England'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2017', 'Males': Males_England_17, 'Females': Females_England_17, "Location": 'England'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2016', 'Males': Males_England_16, 'Females': Females_England_16, "Location": 'England'}, ignore_index=True)
#Wales
Results_df = Results_df.append({'Year': '2021', 'Males': Males_Wales_21, 'Females': Females_Wales_21, "Location": 'Wales'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2020', 'Males': Males_Wales_20, 'Females': Females_Wales_20, "Location": 'Wales'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2019', 'Males': Males_Wales_19, 'Females': Females_Wales_19, "Location": 'Wales'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2018', 'Males': Males_Wales_18, 'Females': Females_Wales_18, "Location": 'Wales'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2017', 'Males': Males_Wales_17, 'Females': Females_Wales_17, "Location": 'Wales'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2016', 'Males': Males_Wales_16, 'Females': Females_Wales_16, "Location": 'Wales'}, ignore_index=True)
#Northern Ireland
Results_df = Results_df.append({'Year': '2021', 'Males': Males_NI_21, 'Females': Females_NI_21, "Location": 'Northern Ireland'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2020', 'Males': Males_NI_20, 'Females': Females_NI_20, "Location": 'Northern Ireland'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2019', 'Males': Males_NI_19, 'Females': Females_NI_19, "Location": 'Northern Ireland'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2018', 'Males': Males_NI_18, 'Females': Females_NI_18, "Location": 'Northern Ireland'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2017', 'Males': Males_NI_17, 'Females': Females_NI_17, "Location": 'Northern Ireland'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2016', 'Males': Males_NI_16, 'Females': Females_NI_16, "Location": 'Northern Ireland'}, ignore_index=True)
#Scotland
Results_df = Results_df.append({'Year': '2021', 'Males': Males_Scot_21, 'Females': Females_Scot_21, "Location": 'Scotland'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2020', 'Males': Males_Scot_20, 'Females': Females_Scot_20, "Location": 'Scotland'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2019', 'Males': Males_Scot_19, 'Females': Females_Scot_19, "Location": 'Scotland'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2018', 'Males': Males_Scot_18, 'Females': Females_Scot_18, "Location": 'Scotland'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2017', 'Males': Males_Scot_17, 'Females': Females_Scot_17, "Location": 'Scotland'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2016', 'Males': Males_Scot_16, 'Females': Females_Scot_16, "Location": 'Scotland'}, ignore_index=True)
#UK
Results_df = Results_df.append({'Year': '2021', 'Males': Males_UK_21, 'Females': Females_UK_21, "Location": 'UK'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2020', 'Males': Males_UK_20, 'Females': Females_UK_20, "Location": 'UK'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2019', 'Males': Males_UK_19, 'Females': Females_UK_19, "Location": 'UK'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2018', 'Males': Males_UK_18, 'Females': Females_UK_18, "Location": 'UK'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2017', 'Males': Males_UK_17, 'Females': Females_UK_17, "Location": 'UK'}, ignore_index=True)
Results_df = Results_df.append({'Year': '2016', 'Males': Males_UK_16, 'Females': Females_UK_16, "Location": 'UK'}, ignore_index=True)

print(Results_df)

    Year    Males Females          Location
0   2021   909800  238800           England
1   2020   818800  168900           England
2   2019   750800  149600           England
3   2018   692600  149600           England
4   2017   697200  145400           England
5   2016   689100  137200           England
6   2021    24700    5900             Wales
7   2020    25500    4400             Wales
8   2019    22000    4500             Wales
9   2018    23000    4100             Wales
10  2017    23400    3600             Wales
11  2016    19400    4200             Wales
12  2021    26200    5000  Northern Ireland
13  2020    17600    3900  Northern Ireland
14  2019    15200    2500  Northern Ireland
15  2018    17500    2900  Northern Ireland
16  2017    13800    2800  Northern Ireland
17  2016    15700    2800  Northern Ireland
18  2021    72700   20000          Scotland
19  2020    53400   14600          Scotland
20  2019    49500   12600          Scotland
21  2018    55600   17200          Scotland
22  2017    55000   14900          Scotland
23  2016    56800   13000          Scotland
24  2021  1033400  269600                UK
25  2020   915300  191800                UK
26  2019   837500  169200                UK
27  2018   788800  173800                UK
28  2017   789400  166800                UK
29  2016   780900  157100                UK

In [251]:
#export this data to a csv file 
Results_df.to_csv('Sex_Total_Count_All_UK.csv')